@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body{
  animation-name: main;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes main{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

.main_title{
  font-size: 40px;
  font-family: sans-serif;
  color: orange;
  margin-left: 10%; 
  margin-top: 3%;
  font-style: italic;
  font-weight: bold;
}

.title_box{
   width:100%; 
   height: 250px; 
   filter: blur(5); 
   position: absolute; 
   background: linear-gradient( orange 40%, transparent); 
   margin-top: -7.5%; 
   margin-left: -0.5%; 
   z-index: 2;
}

.overlay {
 position: fixed;
 top: 0px;
 bottom: 0;
 left: 0;
 right: 0;
 background: rgba(0, 0, 0, 0.8);
 z-index: 2;
}
.wrapper {
  margin-left: 15%;
  margin-top: 160px;
  padding: 10px;
  background: #333333;
  border-radius: 25px;
  width: 70%;
  height: 75%;
  position: relative;
  box-shadow:0 0 8px 0 #ffffff;
}

.mainTopic{
   width:73%; 
   height: 70px; 
   background-color: #333333; 
   position: fixed; 
   top:0px; 
   border-radius:25px; 
   z-index: 2; 
   margin-left: 14%; 
   margin-top: 140px;
}


.overlay .close {
 position: absolute;
 top: 20px;
 right: 50px;
 transition: all 200ms;
 font-size: 25px;
 text-decoration: none;
 color: #ffffff;
}
.overlay .close:hover {
 color: #848383;
}
.wrapper .content {
 max-height: 100%;
 overflow: auto;
   size: 90%;
  
}

.container {
  width: 100%;
 border-radius: 25px;
 background-color: #FAF9F6;
 padding: 20px 0;
  justify-content: center;
} 

.form__input_c{
   width:35%;
   border:2px solid #aaa;
   border-radius:4px;
   margin:8px 0;
   outline:none;
   padding:8px;
   box-sizing:border-box;
   transition:.3s;
   margin-left: 0%;
   font-size: 15px;
 }
 
 .form__input_c:focus{
   border-color:#777777;
   box-shadow:0 0 8px 0 #777777;
 }


 .places{
   width: fit-content; 
   padding-right: 10px;
   height: 50px; 
   background-color: rgb(255, 255, 255); 
   display: inline-block;
   position: relative;
   justify-content: center;
   border-radius: 20px;
   border: solid #555555;
 }

 .sub_topics{
   width: 100%; 
   height: 32px; 
   background-color: #999999;
 }

 span{
   font-size: 20px;
   color: 	#070c18;
   margin-left: 5px;
   font-family: 'Ubuntu', sans-serif;
 }


 .button_1{
   position: relative;
   display: inline-block;
   margin: 15px;
   padding: 15px 30px;
   text-align: center;
   font-size: 18px;
   letter-spacing: 1px;
   text-decoration: none;
   color: #050505;
   background: transparent;
   cursor: pointer;
   transition: ease-out 0.5s;
   border: 2px solid #555555;
   border-radius: 10px;
   box-shadow: inset 0 0 0 0 #999999;
 }
 
 .button_1:hover {
   color: white;
   box-shadow: inset 0 -100px 0 0 #999999;
 }
 
 .button_1:active {
   transform: scale(0.9);
 }

 input[text]{
   font-size: 20px;
 }

 .location{
   background-color: rgb(232, 242, 234); 
   width:50%; height: 30px; 
   border-radius: 20px; 
   margin-left: 10px; 
   margin-right: 10px;
 }

 .location_in{
   border: hidden; 
   background-color: transparent; 
   color: #333333; 
   font-size: 20px;
 }
 
 .disabled_input{
   border: hidden; 
   background-color: transparent; 
   color: #333333; 
   font-size: 20px;
 }

 /*  */

 .card_overlay {
   position: fixed;
   top: 0px;
   bottom: 0;
   left: 0;
   right: 0;
   background: rgba(0, 0, 0, 0.8);
   transition: opacity 500ms;
   visibility: hidden;
   opacity: 0;
   z-index: 7;
 }
 .card_overlay:target {
   visibility: visible;
   opacity: 1;
 }
 .card_wrapper {
   margin: 20px auto;
   margin-top: 7%;
   padding: 10px;
   width: 70%;
   height: fit-content;
   padding-right: 30px;    
   transition: all 5s ease-in-out;
   background: #FFFFFF;
   box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
   border-radius: 26px;
   max-width: 550px;
 }
 
 .card_wrapper .close_card {
   position: absolute;
   top: 20px;
   right: 50px;
   transition: all 200ms;
   font-size: 50px;
   font-weight: bold;
   text-decoration: none;
   color: #e50f0f;
 }
 .card_wrapper .close_card:hover {
   color: #06D85F;
 }

   .card_payment {
     display: flex;
     flex-direction: column;
     gap: 20px;
     padding: 20px;
   }
 
   .credit-card-info {
     display: flex;
     flex-direction: column;
     gap: 15px;
   }
   
   .input_container {
     width: 100%;
     height: fit-content;
     display: flex;
     flex-direction: column;
     gap: 5px;
   }
   
   .split {
     display: grid;
     grid-template-columns: 4fr 2fr;
     gap: 15px;
   }
   
   .split input {
     width: 100%;
   }
   
   .input_label {
     font-size: 18px;
     color: #434447;
     font-weight: 600;
     margin-top: 20px;
   }
   
   .input_field {
     width: auto;
     height: 40px;
     padding: 0 0 0 16px;
     border-radius: 9px;
     outline: none;
     background-color: #F2F2F2;
     border: 1px solid #e5e5e500;
     transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
   }
   
   .input_field:focus {
     border: 1px solid transparent;
     box-shadow: 0px 0px 0px 2px #242424;
     background-color: transparent;
   }
   
   .purchase_btn {
     height: 55px;
     width: 500px;
     text-align: center;
     margin-top: 3%;
     margin-left: 4%;
     background: #F2F2F2;
     border-radius: 11px;
     border: 0;
     outline: none;
     color: #ffffff;
     font-size: 13px;
     font-weight: 700;
     background: linear-gradient(180deg, #363636 0%, #1B1B1B 50%, #000000 100%);
     box-shadow: 0px 0px 0px 0px #FFFFFF, 0px 0px 0px 0px #000000;
     transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
   }
   
   .purchase_btn:hover {
     box-shadow: 0px 0px 0px 2px #FFFFFF, 0px 0px 0px 4px #0000003a;
   }
   
   
   .radio_inputs {
     display: flex;
     justify-content: center;
     align-items: center;
     max-width: 350px;
     -webkit-user-select: none;
     user-select: none;
     margin-left: 15%;
 
   }
   
   .radio_inputs > * {
     margin: 6px;
   }
   
   .radio_input:checked + .radio_tile {
     border-color: #2260ff;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
     color: #2260ff;
   }
   
   .radio_input:checked + .radio_tile:before {
     transform: scale(1);
     opacity: 1;
     background-color: #2260ff;
     border-color: #2260ff;
   }
   
   
   .radio_input:focus + .radio_tile {
     border-color: #2260ff;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 0 0 4px #b5c9fc;
   }
   
   .radio_input:focus + .radio_tile:before {
     transform: scale(1);
     opacity: 1;
   }
   
   .radio_tile {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     width: 80px;
     min-height: 80px;
     border-radius: 0.5rem;
     border: 2px solid #b5bfd9;
     background-color: #fff;
     box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
     transition: 0.15s ease;
     cursor: pointer;
     position: relative;
   }
   
   .radio_tile:before {
     content: "";
     position: absolute;
     display: block;
     width: 0.75rem;
     height: 0.75rem;
     border: 2px solid #b5bfd9;
     background-color: #fff;
     border-radius: 50%;
     top: 0.25rem;
     left: 0.25rem;
     opacity: 0;
     transform: scale(0);
     transition: 0.25s ease;
   }
   
   .radio_tile:hover {
     border-color: #2260ff;
   }
   
   .radiotile:hover:before {
     transform: scale(1);
     opacity: 1;
   }
   
   .radio-label {
     color: #707070;
     transition: 0.375s ease;
     text-align: center;
     font-size: 13px;
   }
   
   .radio_input {
     clip: rect(0 0 0 0);
     -webkit-clip-path: inset(100%);
     clip-path: inset(100%);
     height: 1px;
     overflow: hidden;
     position: absolute;
     white-space: nowrap;
     width: 1px;
   }
